<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io">
<head>
    <meta charset="UTF-8" />
    <title>Clicks</title>
</head>
<body>
<h1>Clicks</h1>
    <p>
        <span>Press a button to see the executed action. </span>
        <span th:if="${action != null}">
            Last executed Action: <b th:text="${action}"></b>
        </span>
        <span th:if="${value != null}">
            , with Value: <b th:text="${value}"></b>
        </span>
    </p>
    <div><button m:click="action()">action()</button></div>
    <div><button m:click="actionNumber(1)">actionNumber(1)</button></div>
    <div><button m:click="actionString('text')">actionString('text')</button></div>
    <div><button m:click="actionString('${text}')">actionString('${text}')</button></div>
    <div><button m:click="actionNumber(${number})">actionNumber(${number})</button></div>
    <div><button m:click="actionString('${one.name}')">actionString('${one.name}')</button></div>
    <div><button m:click="actionNumber(${one.target})">actionNumber(${one.number})</button></div>
    <div><button m:click="actionNumberString(${one.target}, '${two.target.name}')">actionNumberString(${one.target}, '${two.target.name}')</button></div>
</body>
</html>