<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="http://www.getmedusa.io/">
<head>
    <meta charset="UTF-8">
    <title>This page embeds a fragment</title>
</head>
<body>

<h1>Hello, this is a core page</h1>

<ul>
    <li th:text="${service}"></li>
    <li th:text="${ref}"></li>
</ul>

<m:fragment service="self" ref="${ref}">
    <p>Fallback info for search bar w/ m:fragment, manual self</p>
</m:fragment>

<m:fragment ref="${ref}">
    <p>Fallback info for search bar w/ m:fragment, auto self</p>
</m:fragment>

<m:fragment service="${service}" ref="${ref}">
   <p>Fallback info for search bar w/ m:fragment</p>
</m:fragment>

<p>End of content</p>

</body>
</html>