<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <title>Hello world</title>
</head>
<body>
<section>
    <span th:text="${counter}"></span>
    <h5>1 <code>th:if</code>Above button</h5>
    <div th:if="${top}">
        <p>2 TOP If top is <code>true</code> this should be visible on <code>top</code> of the page</p>
    </div>

    <p th:if="${bottom}">3 BOTTOM If bottom is <code>true</code> this should be visible at the <code>bottom</code></p>

    <div>
        <button m:click="change()">4 change</button>
    </div>

    <h5>5 <code>th:if</code>Below button</h5>
    <div th:if="${top}">
        <p>6 TOP If top is <code>true</code> this should be visible on <code>top</code> of the page, but below the button</p>
    </div>

    <p th:if="${bottom}">7 BOTTOM If bottom is <code>true</code> this should be visible at the <code>bottom</code>, but below the button</p>
</section>
</body>
</html>