<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <title>Uploads</title>
</head>
<body>

<h1>Upload some pictures</h1>

<input type="file" id="myFiles" name="filename" multiple accept="image/*"> <br>

<button m:upload="myFiles">Upload picture via  <code>m:upload</code></button>

<div th:each="image: ${images}" style="flex-flow: row; max-width: 33%;">
    <img th:if="${image.completed}" th:src="${image.base64ImageString}" th:alt="${image.name}" width="33%"/>
    <p style="font-size: 3em; color: grey" th:if="${false == image.completed}" th:text="${image.progress + '%'}"></p>
    <p th:text="${image.name}"></p>
</div>

</body>
</html>
