<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

    <form m:submit="displayName(123, :{form}, ' ')">
        <ul class="error" m:validation="all" validation="form-global"></ul>
        <p>
            <label for="firstName">First name: </label>
            <input type="text" id="firstName" name="firstName" />
        </p>

        <p class="error hidden" th:if="${validation_firstName != null}" th:text="${validation_firstName}"></p>

        <p class="error hidden" m:validation="firstName" validation="firstName"></p>

        <p>
            <label for="lastName">Last name: </label>
            <input type="text" id="lastName" name="lastName" />
        </p>

        <p class="error hidden" m:validation="lastName" ></p>

        <input type="submit" value="Submit">
    </form>

    <div class="example-result" th:text="${result}"></div>

</body>
</html>