*{
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-y: scroll;
}

p {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  margin: 0 0 0.75em 0;
}

p.lead {
  font-size: 21px;
  padding-bottom: 1em;
}

h1 {
  letter-spacing: -1px;
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

#container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#darkmode {
  background: transparent;
  color: black;
  border: none;
  position: fixed;
  right: 2em;
  top: 1em;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 34px;
}

#darkmode:hover {
  background: #e5e5e5;
  cursor: pointer;
}

a {
  color: #6354fc;
}
a:hover {
  color: #1800ff;
}

.listing {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  display: flex;
}

.listing section.category {
  font-weight: 500;
  font-size: 26px;
  padding-right: 2em;
  width: 150px;
  text-align: left;
}

.listing ul {
  list-style-type: none;
  padding:0;
  margin: 0;
}

.listing li {
  padding: 0.25em;
}

.listing li a {
  text-decoration: none;
}

.listing .soon {
  opacity: 0.5;
  cursor: default;
}

span.coming-soon {
  color: #232323;
  background: #f1f1f1;

  padding: 0.25em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 15px;
  font-size: small;
  margin-left: 0.5em;
}

/**** example ***/
.example {
  background: rgb(63,99,221);
  background: linear-gradient(145deg, rgba(63,99,221,1) 0%, rgba(140,78,197,1) 100%);
  padding: 2em;
  margin-right: -1.5em;
  position: relative;
  left: -0.5em;
  border-radius: 15px;
  cursor: default;
}

.example span {
  display: block;
  letter-spacing: -1px;
  font-size: 36px;
  padding-bottom: 0.2em;
  color: white;
}

.example button, .example input[type='submit'], .example input[type='file']::file-selector-button {
  background-color: white;
  color: rgb(87, 70, 175);
  line-height: 15px;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 2px 10px hsl(0deg 0% 0% / 14%);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.example input[type=file]::file-selector-button {
  margin-right: 10px;
}

.example input[type='file']{
  min-width: 600px;
}

.example button:hover, .example input[type='submit']:hover, .example input[type='file']::file-selector-button:hover {
  background-color: #d6e7ff;
  cursor: pointer;
}

.example button:active, .example input[type='submit']:active {
  border: 2px solid black;
}

.example input[type='submit'] {
  margin-top: 0.5em;
}

.example label {
  display: block;
  margin-top: 0.5em;
}

.example input[type='text'] {
  background: #0000001f;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-top: 5px;
  line-height: 30px;
  border-radius: 5px;
  width: 20em;
  border: 1px solid #000000c2;
}

.example input[type='text']:focus {
  border-color: #ffc800;
}

.example select {
  padding: 0.5em;
  border-radius: 5px;
  color: #6600ff;
  position: relative;
  top: -1px;
  left: 5px;
}

.example option {
  color: #2a2828;
}

.example footer {
  line-height: 0;
  text-align: right;
  opacity: 0.5;
  font-size: small;
  position: relative;
  top: 1em;
  color: #ecedee;
}

.example-result {
  margin-left: auto;
  display: block;
  letter-spacing: -1px;
  font-size: 36px;
  padding-bottom: 0.2em;
  color: white;
}

pre, pre code, pre code span {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 14px !important;
}

.hljs-variable {
    color: #b0a0e2 !important;
}

span.code-snippet {
  font-family: 'JetBrains Mono', monospace;
  color: #e28d3e;
  font-size: 0.87em;
}

button:disabled {
  opacity: 0.5;
  color: gray;
  pointer-events: none;
}

.modal-container .modal-title, .modal-container .modal-content {
  color: rgb(87, 70, 175);
}