<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component detail</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/nnfx-light.min.css">
</head>
<body>

<div id="container">
    <section id="hero">
        <h1 th:text="${title}">Conditional button</h1>
        <p>An example of a button that is not always visible or active based on a variable on the Controller side.</p>
        <a href="/" class="button" id="cta">Back to overview</a>
        <a href="https://github.com/medusa-ui/medusa/tree/main/medusa-showcase" target="_blank" class="button">Show example in github</a>
    </section>

    <section id="variations">
        <h2>Dynamically disabled</h2>
        <p>Disable a button based on a variable in the Controller. In this example, initial render value is set to disabled=true. Every 2 seconds, the server will toggle this back and forth between disabled and enabled.</p>
        <section class="variation">
            <h3>Example</h3>
            <section class="example-in-practice">

                <button disabled>This button is disabled</button>

            </section>

            <section class="code">
                <h3>Client</h3>

                <pre class="client">
                    <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;title&gt;Title&lt;/title&gt;

&lt;style&gt;body {width: 500px;}&lt;/style&gt;

&lt;script type=&quot;application/javascript&quot;&gt;
  function $init() {return true;}
&lt;/script&gt;

&lt;body&gt;
  &lt;p checked class=&quot;title&quot; id='title'&gt;Title&lt;/p&gt;
  &lt;!-- here goes the rest of the page --&gt;
&lt;/body&gt;
                    </code>
                </pre>

                <h3>Server</h3>
                <pre class="server">
                    <code class="language-java">
import io.getmedusa.medusa.core.annotation.UIEventPage;
import io.getmedusa.medusa.core.attributes.Attribute;
import io.getmedusa.medusa.core.bidirectional.ServerToClient;
import io.getmedusa.medusa.core.session.StandardSessionTagKeys;
import io.getmedusa.medusa.core.session.StandardSessionTagValues;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.scheduling.annotation.Scheduled;
import org.springframework.web.reactive.function.server.ServerRequest;

import java.security.SecureRandom;
import java.util.ArrayList;
import java.util.Date;
import java.util.List;

@UIEventPage(path = &quot;/&quot;, file = &quot;/pages/hello-world&quot;)
public class HelloWorldController {

    private int counter = 0;

    private List&lt;Person&gt; globalPeople = new ArrayList&lt;&gt;();

    @Autowired
    private ServerToClient serverToClient;

    @Scheduled(fixedDelay = 1000)
    public void updateCounterFromServer() {
        serverToClient.sendAttributesToSessionTag(List.of(new Attribute(&quot;counterValue&quot;, ++counter)),
                StandardSessionTagKeys.ROUTE,
                StandardSessionTagValues.ALL); //TODO gotta improve this somehow
    }

    public List&lt;Attribute&gt; setupAttributes(ServerRequest serverRequest) {
        List&lt;Person&gt; people = new ArrayList&lt;&gt;();//generateListOfPeople();
        return List.of(
                //new Attribute(&quot;counterValue&quot;, Integer.parseInt(serverRequest.pathVariable(&quot;samplePathVariable&quot;))),
                new Attribute(&quot;counterValue&quot;, 0),
                new Attribute(&quot;expectedTableCount&quot;, people.size()),
                new Attribute(&quot;people&quot;, people));
    }

    public List&lt;Attribute&gt; increaseCounter() {
        return List.of(new Attribute(&quot;counterValue&quot;, ++counter));
    }

    public List&lt;Attribute&gt; randomNewTable() {
        List&lt;Person&gt; people = generateListOfPeople();
        return List.of(
                new Attribute(&quot;counterValue&quot;, ++counter),
                new Attribute(&quot;expectedTableCount&quot;, people.size()),
                new Attribute(&quot;people&quot;, people));
    }

    public List&lt;Attribute&gt; addPerson() {
        globalPeople.add(new Person(globalPeople.size() + 1, new Date().getTime()));
        return List.of(
                new Attribute(&quot;expectedTableCount&quot;, globalPeople.size()),
                new Attribute(&quot;people&quot;, globalPeople));
    }

    public List&lt;Attribute&gt; removePerson() {
        globalPeople.remove(globalPeople.size()-1);
        return List.of(
                new Attribute(&quot;expectedTableCount&quot;, globalPeople.size()),
                new Attribute(&quot;people&quot;, globalPeople));
    }

    private List&lt;Person&gt; generateListOfPeople() {
        List&lt;Person&gt; people = new ArrayList&lt;&gt;();
        int amount = new SecureRandom().nextInt(3, 15);
        long timestamp = new Date().getTime();
        for (int i = 0; i &lt; amount; i++) {
            people.add(new Person(i+1, timestamp));
        }
        globalPeople = people;
        return people;
    }

}
</code>
                </pre>
            </section> <!-- end .code -->

            <p><a href="#">Back to top</a></p>

        </section> <!-- end .variation -->

    </section> <!-- end #variations -->


</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>