<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component overview</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
    <section id="hero">
        <h1>Medusa UI component showcase</h1>
        <p>This library showcases a series of ready-to-use, bidirectional component examples you can immediately use in your next Java project.</p>
        <a href="https://github.com/medusa-ui/medusa" target="_blank" class="button" id="cta">Get started</a>
        <a href="https://medusa-ui.github.io/documentation/" target="_blank" class="button">Documentation</a>
    </section>

    <section id="categories">
        <ul>
            <li th:each="categoryEntry : ${categoryMap}">
                <a th:href="${#strings.toLowerCase(#strings.replace('#' + categoryEntry.key,' ','-'))}" th:text="${categoryEntry.key}"></a>
            </li>
        </ul>
    </section>

        <section id="components">
            <div class="category" th:each="categoryEntry : ${categoryMap}">
                <h2><a th:id="${#strings.toLowerCase(#strings.replace(categoryEntry.key,' ','-'))}" th:text="${categoryEntry.key}">Category name</a></h2>
                <div class="components-per-category">
                    <a th:each="category : ${categoryEntry.value}" th:href="${'/detail/' + category.urlPart}" class="component">
                        <img src="https://tailwindui.com/img/category-thumbnails/marketing/heroes.png" alt="Category image of 'Submit with reference'" />
                        <h3 th:text="${category.label}">Submit with reference</h3>
                    </a>
                </div>
            </div>
        </section>
    </div>
    </body>
</html>