body, html {
    background: #22292e;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

body {
    margin-left: 4em;
    margin-top: 2em;
}

h1 {
    font-family: 'Merriweather', serif;
}

button {
    font-family: 'Inter', sans-serif;
    background: #cceaff;
    border: 1px solid #5bb2f1;
    border-radius: 3px;
    padding: 0.45em 0.75em;
    line-height: 1em;
    cursor: pointer;
}

button:hover {
    background: #7ec2f5;
}

input:active, input:focus {
    border: 1px solid #fb00ff;
}

input {
    font-family: 'Inter', sans-serif;
    background: #dceaf9;
    border: 1px solid #dceaf9;
    border-radius: 3px;
    padding: 0.45em 0.75em;
    line-height: 1em;
    width: 25em;
    outline: none;
    margin-bottom: 0.5em;
}

a:link, a:visited {
    color: #5bb2f1;
}
a:hover, a:active {
    color: #fd57ff;
}
code {
    color: #5bb2f1;
}

#example-color-block {
    display: block;
    width: 100px;
    height: 100px;
    background: crimson;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: width 1s, height 1s, transform 1s;
}

.wide {
    width: 200px !important;
    height: 50px !important;
}