<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component detail</title>
</head>
<body>

<div id="container" m:ref="basic-button">
    <section id="hero">
        <h1>Basic button</h1>

        <p class="lead">An example of a simple button that triggers an action on the Controller side</p>

        <a id="back-to-overview" href="/">Back to overview</a>
    </section>

    <h2>Basic button</h2>
    <p>These buttons illustrate actions with and without parameters. They immediately get executed on the controller.
        Since a bean is a singleton instance, storing a variable in the controller itself would mean it is shared across all users.
        Instead, we can use the Session object to get the specific variables for the active user.</p>


    <section class="example">
        <span id="counter_value" class="sample-counter" th:text="${counter}"></span>

        <button id="btn_update"  m:click="updateCounter(1)">Increase counter</button>
        <button id="btn_reset" m:click="reset()">Reset counter</button>

        <footer>JDK18 w/ Medusa 0.9.0</footer>
    </section>

    <section class="client">
        <h3>Client</h3>
        <pre><code class="language-html hljs" th:text="${clientCode[0]}"></code></pre>
    </section>

    <section class="server">
        <h3>Server</h3>
        <pre><code class="language-java hljs" th:text="${serverCode[0]}"></code></pre>
    </section>


</div>
</body>
</html>