<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component detail</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/highlightjs/styles/nnfx-light.min.css">
</head>
<body>

<div id="container">
    <section id="hero">
        <h1>Basic button</h1>
        <p>An example of a simple button that triggers an action on the Controller side.</p>
        <a href="/" class="button" id="cta">Back to overview</a>
        <a href="https://github.com/medusa-ui/medusa/tree/main/medusa-showcase" target="_blank" class="button">Show example in github</a>
    </section>

    <section id="variations">
        <h2>Basic button</h2>
        <p>These buttons illustrate actions with and without parameters. They immediately get executed on the controller.
            Since a bean is a singleton instance, storing a variable in the controller itself would mean it is shared across all users.
            Instead, we can use the Session object to get the specific variables for the active user.</p>
        <section class="variation">
            <h3>Example</h3>
            <section class="example-in-practice">

                <div class="sample-counter" th:text="${counter}"></div>

                <button m:click="updateCounter(1)">Increase counter</button>
                <button m:click="reset()">Reset counter</button>

            </section>

            <section class="code">
                <h3>Client</h3>

                <pre class="client">
                        <code class="language-html" th:text="${pageCode}"></code>
                    </pre>

                <h3>Server</h3>
                <pre class="server">
                        <code class="language-java" th:text="${controllerCode}"></code>
                    </pre>
            </section> <!-- end .code -->

            <p><a href="#">Back to top</a></p>

        </section> <!-- end .variation -->

    </section> <!-- end #variations -->

</div>
<script src="/webjars/highlightjs/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>