<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="https://www.getmedusa.io/medusa.xsd">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component detail</title>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/highlightjs/styles/nnfx-light.min.css">
</head>
<body>

<div id="container">
    <section id="hero">
        <h1>Forwarding</h1>
        <p>An example of a simple forward to another page or site.</p>
        <p>By default, you can only refer to locations within your own URL. For example, if the page is available on 'https://mysite.com/hello', then a call to 'https://mysite.com/something-else' is allowed.</p>
        <p>Relative URLS ('/hello', '../hello') are also allowed but must either start with a '.' or a '/'</p>
        <p>If you want to refer to a location on another URL, you must explicitly set the property 'medusa.allow-external-redirect' to <i>true</i>.</p>

        <a href="/" class="button" id="cta">Back to overview</a>
        <a href="https://github.com/medusa-ui/medusa/tree/main/medusa-showcase" target="_blank" class="button">Show example in github</a>
    </section>

    <section id="variations">
        <h2>Server-side Forwarding</h2>
        <p>This illustrates a forwarding decision from the serverside. Any action can return an Attribute that causes the user to forward.</p>
        <section class="variation">
            <h3>Example</h3>
            <section class="example-in-practice">

                <button m:click="forwardTo('basic-button')">Forward to 'basic button sample'</button>
                <button m:click="forwardTo('live-data')">Forward to 'live data sample'</button>

            </section>

            <section class="code">
                <h3>Client</h3>

                <pre class="client">
                    <code class="language-html" th:text="${pageCode}"></code>
                </pre>

                <h3>Server</h3>
                <pre class="server">
                    <code class="language-java" th:text="${controllerCode}"></code>
                </pre>
            </section> <!-- end .code -->

            <p><a href="#">Back to top</a></p>

        </section> <!-- end .variation -->

        <h2>Server-initiated Forwarding</h2>
        <p>This same forwarding concept can also be triggered outside the scope of an action, via ServerToClient.</p>
        <section class="variation">
            <h3>Example</h3>
            <section class="example-in-practice">
                <button m:click="registerMeForAForward()">Register me for a forward</button>
            </section>

            <section class="code">
                <h3>Client</h3>

                <pre class="client">
                    <code class="language-html" th:text="${pageCodeServerInit}"></code>
                </pre>

                <h3>Server</h3>
                <pre class="server">
                    <code class="language-java" th:text="${controllerCodeServerInit}"></code>
                </pre>
            </section> <!-- end .code -->

            <p><a href="#">Back to top</a></p>

        </section> <!-- end .variation -->

    </section> <!-- end #variations -->

</div>
<script src="/webjars/highlightjs/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>