<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="http://www.getmedusa.io">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - Component detail</title>
</head>
<body>

<div id="container" m:ref="live-data">
    <section id="hero">
        <h1>Live Data</h1>

        <p class="lead">An example of simple data being live updated without input from the user. It is a pure server to client call.</p>

        <a id="back-to-overview" href="/">Back to overview</a>
    </section>

    <section id="variations">
        <h2>Global Live Data</h2>

        <p>This illustrates a simple server to client call. Note that on the client side, there is nothing referring to this - there is no polling.</p>
        <p>Here we show a global update, which is shared by all session. As such, if you'd open this page concurrently in two tabs, you'll see the shared number be the same across all tabs.</p>
        <p>In this case, we send the update to all users who are on this page right now.</p>

        <section class="example">
            Global, shared (0.5-second delay between updates):
            <span class="sample-counter global" th:text="${randomNumberShared}"></span>

            <footer th:text="${version}"></footer>
        </section>

        <section class="client">
            <h3>Client</h3>
            <pre><code class="language-html hljs" th:text="${clientCode[0]}"></code></pre>
        </section>

        <section class="server">
            <h3>Server</h3>
            <pre><code class="language-java hljs" th:text="${serverCode[0]}"></code></pre>
        </section>

        <h2>Unique per session Live Data</h2>

        <p>Here, we demonstrate that we can send updates to specific sessions as well.</p>
        <p>We can do this by creating a custom tag that identifies who we want to target, and then send the update to that tag.</p>
        <p>In this case, we create that custom tag when you press the subscribe button. The scheduler then picks it up and sends you a unique random. We also do this at page load, to illustrate the Session is reachable in different areas.</p>

        <section class="example">

            Unique per session:
            <span class="sample-counter unique" th:text="${randomNumberUniquePerSession}"></span>

            <button id="btn_unique" m:click="subscribeViaID()">Subscribe to a sessionID update</button>

        </section>

        <section class="client">
            <h3>Client</h3>
            <pre><code class="language-html hljs" th:text="${clientCode[1]}"></code></pre>
        </section>

        <section class="server">
            <h3>Server</h3>
            <pre><code class="language-java hljs" th:text="${serverCode[1]}"></code></pre>
        </section>

        <h2>Group Live Data</h2>
        <p>Finally, we also show that server to client pushes don't have to be all or nothing: You can send updates selectively to groups of users as well.</p>

        <section class="example">
            Unique per group:
            <span class="sample-counter group" th:text="${randomNumberUniquePerGroup}"></span>

            <button id="btn_group" m:click="subscribeTag()">Subscribe to tag update</button>
        </section>

        <section class="client">
            <h3>Client</h3>
            <pre><code class="language-html hljs" th:text="${clientCode[2]}"></code></pre>
        </section>

        <section class="server">
            <h3>Server</h3>
            <pre><code class="language-java hljs" th:text="${serverCode[2]}"></code></pre>
        </section>
    </section>
</div>

</body>
</html>